@model Warehouse.Data.Models.Product

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseBarcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseBarcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasureUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasureUnit.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductGroup.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WholesalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WholesalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributorPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributorPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimalQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimalQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptimalQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptimalQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsService)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
