@model Warehouse.Data.Models.Product

@{
    ViewData["Title"] = "Product details";
    ViewData["TitleDescription"] = "Here you can check all details for the product.";
}

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <section class="col-lg-12 text-center p-0">
                <h4>Product</h4>
                <hr/>
                <dl class="row">
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.Company)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.Company.Id)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.Place)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.Place.Id)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.BaseBarcode)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.BaseBarcode)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.MeasureUnit)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.MeasureUnit.Id)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.ProductGroup)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.ProductGroup.Id)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.RetailPrice)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.RetailPrice)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.WholesalePrice)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.WholesalePrice)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.DistributorPrice)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.DistributorPrice)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.MinimalQuantity)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.MinimalQuantity)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.OptimalQuantity)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.OptimalQuantity)
                    </dd>
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.IsService)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.IsService)
                    </dd>

                    <div class="col-lg-12 text-center p-0">
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <a asp-action="Index" class="btn btn-default">Back to List</a>
                            </div>

                            <div class="col-lg-6">
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
                            </div>
                        </div>
                    </div>
                </dl>
            </section>
        </div>
    </div>
</section>