@using Warehouse.Web.Infrastructure
@model Warehouse.Web.Models.Components.GenericViewObjectModel

@{
    var collectionElementType = Model.Object.GetType().GetGenericArguments().FirstOrDefault();
    var modelObjType = Model.Object.GetType();
    var id = modelObjType.GetProperty("Id").GetValue(Model.Object);
}

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center p-0">
                <form asp-action="Edit" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @foreach (var propName in Model.HiddenProps)
                    {
                        var inputName = propName.Substring(propName.IndexOf(".") + 1);
                        var propValue = ReflectionHelpers.GetPropertyValue(Model.Object, propName);

                        <input type="hidden" value="@propValue" name="@inputName"/>
                    }

                    @foreach (var propName in Model.PropsToShow)
                    {
                        var inputName = propName.Substring(propName.IndexOf(".") + 1);

                        var propInfo = Model.Object.GetType().GetComplexProperty(propName);
                        var propType = propInfo.PropertyType;
                        var propValue = ReflectionHelpers.GetPropertyValue(Model.Object, propName);
                        var propDisplayName = propInfo.GetDisplayNameValue();

                        <div class="form-group col-lg-12">
                            <label class="control-label">@propDisplayName</label>

                            @if (!propType.IsEnum)
                            {
                                <input asp-for="@propValue" name="@inputName" class="form-control mb-4" />
                            }
                            else
                            {
                                <select asp-for="@propValue" name="@inputName" asp-items="Html.GetEnumSelectList(propType)" class="form-control"></select>
                            }

                            <span asp-validation-for="@inputName" class="text-danger"></span>
                        </div>
                    }

                    <div class="form-group col-lg-6">
                        <a asp-action="Index" class="btn btn-default">Back to List</a>
                    </div>

                    <div class="form-group col-lg-6">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>